.specBanner {
  width: 100%;
  height: 350px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.specContent {
  padding-top: 56px;

  .specContent-section {
    h2 {
      padding-bottom: 14px;
      border-bottom: 1px solid;
      border-image: linear-gradient(
          to right,
          rgb(0, 147, 69) 16%,
          rgb(206, 206, 206) 5%
        )
        5;
      font-size: 29px;
      color: rgb(0, 147, 69);
      font-weight: bold;
      text-transform: uppercase;
    }

    .specContent-section-text {
      padding: 22px 20px 48px 20px;
      ol {
        list-style-type: decimal;
        list-style-position: inside;
        padding: 0;
      }

      p,
      li {
        font-size: 21px;
        color: rgb(32, 32, 32);
        line-height: 1.2;
      }

      li {
        margin-top: 35px;
      }

      li:first-child {
        margin-top: 0;
      }
    }

    .specContent-section-profile {
      padding: 50px 15px 64px 15px;

      .specContent-section-profile-image {
        max-width: 100%;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      p {
        margin-top: 47px;
        font-size: 21px;
        color: rgb(32, 32, 32);
        line-height: 1.2;
      }
    }

    .specContent-section-picture {
      padding: 36px 10px 50px 10px;
        img {
          width: 100%;
          max-height: 300px;
          object-fit: cover;
        }
    }
  }
}
